 
# Игнорировать все файлы с расширением .log
#*.log

# Игнорировать папку node_modules
Архив/
# Игнорировать файл настроек
#.env

# Игнорировать папку build и всё внутри
#build/

# Игнорировать файлы macOS
#.DS_Store