 
## Игнорировать все файлы с расширением .log
#*.log

# Игнорировать папку node_modules
Архив/

# Игнорировать файл настроек
#.env

# Игнорировать папку build и всё внутри
tests/Sonar/fitness/src/cf/
tests/Sonar/salon/src/cf/
tests/Sonar/stoma/src/cf/
tests/Sonar/Coverage41C/
tests/build/
tests/scripts/version.txt
tests/Sonar/jre

# Игнорировать файлы macOS
#.DS_Store