-- restore_db_postgres.sql
-- Скрипт восстановления PostgreSQL из дампа

\echo 'Восстановление базы :restoreddb из файла :bakfile...'

-- 1. Завершаем все подключения к целевой базе (если она существует)
SELECT pg_terminate_backend(pg_stat_activity.pid)
FROM pg_stat_activity
WHERE pg_stat_activity.datname = :'restoreddb' AND pid <> pg_backend_pid();

-- 2. Удаляем старую базу (если существует)
DROP DATABASE IF EXISTS :"restoreddb";

-- 3. Создаем новую пустую базу
CREATE DATABASE :"restoreddb";

-- 4. Восстанавливаем данные из дампа
\echo 'Начало восстановления...'
\! pg_restore -h localhost -U postgres -d :"restoreddb" :"bakfile"
\echo 'Восстановление завершено.'

-- 5. Проверяем восстановление
\c :"restoreddb"
\echo 'Проверка восстановленной базы:'
SELECT 'Таблиц в базе: ' || count(*)::text FROM information_schema.tables WHERE table_schema NOT IN ('pg_catalog', 'information_schema');